/* Merged CSS from dark_theme.css (CSS1-exercise_01) and extractedDesignFile.css (CSS3-exercise_01),
 Arabic Version */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;1000&display=swap');

.alternativeTitle {
    color: #F8FAFC;
    font-family: Tajawal, sans-serif;
    font-size: 50px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: right;
}

.cards {
    align-items: flex-start;
    display: flex;
    height: 160px;
    justify-content: flex-start;
    width: 750px;
}

.centeredSection {
    align-items: center;
    display: flex;
    justify-content: center;
}

.compactLayout {
    align-items: flex-start;
    display: inline-flex;
    gap: 800px;
    height: 20px;
    justify-content: flex-start;
    width: 600px;
}

.down-ExtraLargeSpaced {
    margin-bottom: 110px;
}

.down-LargeSpaced {
    margin-bottom: 80px;
}

.down-SmallSpaced {
    margin-bottom: 30px;
}

.down-Spaced {
    margin-bottom: 50px;
}

.down-up-ExtraLargeSpaced {
    margin-bottom: 110px;
    margin-top: 110px;
}

.down-up-LargeSpaced {
    margin-bottom: 80px;
    margin-top: 80px;
}

.down-up-SmallSpaced {
    margin-bottom: 30px;
    margin-top: 30px;
}

.down-up-Spaced {
    margin-bottom: 50px;
    margin-top: 50px;
}

.group1 {
    background-color: #030307;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    font-size: 18px;
    font-weight: 620;
    padding: 30px;
    text-align: center;
}

.group2 {
    background-color: #333333;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    font-weight: 700;
    padding: 34px;
    text-align: center;
}

.icon {
    height: 45px;
    position: relative;
    width: 45px;
}

.items {
    align-items: flex-start;
    display: flex;
    height: 45px;
    justify-content: flex-start;
    position: absolute;
    width: 45px;
}

.padding-ExtraLargeSpaced {
    padding-bottom: 110px;
    padding-top: 110px;
}

.padding-LargeSpaced {
    padding-bottom: 80px;
    padding-top: 80px;
}

.padding-SmallSpaced {
    padding-bottom: 30px;
    padding-top: 30px;
}

.padding-Spaced {
    padding-bottom: 50px;
    padding-top: 50px;
}

.sideNav {
    align-items: center;
    display: inline-flex;
    height: 100px;
    justify-content: space-between;
    padding: 20px 100px;
    width: 1200px;
}

.submit-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.up-ExtraLargeSpaced {
    margin-top: 110px;
}

.up-LargeSpaced {
    margin-top: 80px;
}

.up-SmallSpaced {
    margin-top: 30px;
}

.up-Spaced {
    margin-top: 50px;
}

.responsive-image {
    width: 100%;
    height: 420px;
    display: block;
}

body {
    margin: 1px;
    font-family: Tajawal, sans-serif;
}

button, input[type="submit"] {
    background-color: #22D3EE;
    border: none;
    border-radius: 30px;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
}

button:hover, input[type="submit"]:hover {
    background-color: #3D1E62B2;
    color: #CBD5E1;
    font-weight: bold;
}

div[id="serviceInputFields"], div[id="jobInputFields"]{
    display: none;
}

footer, header {
    margin: 0;
    background-color: #030307;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    justify-content: center;
}

h1 {
    color: #3DD5F3;
    font-family: Tajawal, sans-serif;
    font-size: 38px;
    font-weight: 720;
    word-wrap: break-word;
}

h2 {
    color: #3DD5F3;
    font-family: Tajawal, sans-serif;
    font-size: 34px;
    font-weight: 700;
    word-wrap: break-word;
}

h3 {
    color: #F8FAFC;
    font-family: Tajawal, sans-serif;
    font-size: 30px;
    font-weight: 680;
    word-wrap: break-word;
}

h4 {
    color: #F8FAFC;
    font-family: Tajawal, sans-serif;
    font-size: 26px;
    font-weight: 660;
    word-wrap: break-word;
}

h5 {
    color: #C0C5D0;
    font-family: Tajawal, sans-serif;
    font-size: 22px;
    font-weight: 640;
    word-wrap: break-word;
}

p {
    font-family: Tajawal, sans-serif;
    font-size: 18px;
    font-weight: 620;
    word-wrap: break-word;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    text-align: right;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

main {
    background-color: #030307;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Tajawal, sans-serif;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 30px;
    padding-top: 30px;
}

nav, address {
    align-items: center;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
    margin: 0;
    padding: 30px;
    background-color: #030307;
    font-family: Tajawal, sans-serif;
    font-size: 18px;
    font-weight: 700;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    padding: 5px;
}

th {
    background-color: #333333;
    color: #FFFFFF;
}

th, td {
    border: 1px solid #CCCCCC;
    padding: 8px;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #030307;
    color: #FFFFFF;
}
tr:nth-child(odd) {
    background-color: #333333;
    color: #FFFFFF;
}

option[name="contactType"], option[name="contactTypeAr"],label[for="contactType"] {
    border: #333333;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,p,label,section{
    text-align: right;
}

h3[class="down-up-ExtraLargeSpaced"], label[class="down-SmallSpaced"]{
    text-align: center;
}

nav span{
    margin-top: 30px;
}

main h1{
    background-color: #333333;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    font-weight: 700;
    padding: 30px;
    text-align: center;
    margin-bottom: 80px;
}

main section p {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 30px;
}

main p {
    margin-bottom: 90px;
}

input[type="submit"]{
    margin-top: 40px;
    margin-bottom: 40px;
}

main section h3{
    margin-bottom: 30px;
    text-align: center;
}

main section div h3 {
    margin-top: 80px;
    text-align: center;
}

main section div form{
    margin-top: 50px;
    text-align: center;
}

input[name="companyName"],
input[name="email"],
input[name="phone"],
input[name="jobFields"],
input[name="pay"],
input[name="name"],
input[name="projectName"],
input[name="requiredServices"],
textarea[name="message"]{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}

label[for="companyName"],
label[for="name"]{
    margin-bottom: 30px;
    margin-top: 110px;
}

label[for="emailJob"],
label[for="phoneJob"],
label[for="jobField"],
label[for="salary"],
label[for="companyInfo"],
label[for="projectName"],
label[for="emailSrv"],
label[for="phoneSrv"],
label[for="requiredService"],
label[for="payment"],
label[for="projectInfo"]{
    margin-bottom: 30px;
    margin-top: 80px;
}

select[id="contactType"]{
    justify-content: center;
    align-items: center;
}

strong{
    color: #3DD5F3;
}

h2[class="group2"] {
    margin-top: 130px;
}

main h3 {
    text-align: center;
    color: #FFFFFF;
}

header, section, option, form, label,article,footer,input,select {
    font-family: Tajawal, sans-serif;
}

div[id="serviceInputFields"], div[id="jobInputFields"] {
    display: none;
}








/* THE MODIFICATIONS THAT ARE MADE FOR CSS3-Exercise_03 */

/* [NOTE]: for the sake of aesthetics, I added more complexity and depth than what Exercise 03 asked to implement */




/* creating pulse effect animation */

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse-effect{
}
.pulse-effect:hover{
    animation: pulse 2.1s infinite;
}
.pulse-effectConst{
    animation: pulse 2.1s infinite;
}
.pulse-effectConst:hover{
    animation: pulse 2.1s infinite;
}

/* creating glowing effect animation */

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #3DD5F3, 0 0 20px #3DD5F3,
        0 0 25px #3DD5F3, 0 0 30px #3DD5F3, 0 0 35px #3DD5F3;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #3DD5F3, 0 0 30px #3DD5F3, 0 0 40px #3DD5F3,
        0 0 50px #3DD5F3, 0 0 60px #3DD5F3, 0 0 70px #3DD5F3;
    }
}

.glowing-effect{
}
.glowing-effect:hover{
    color: #3DD5F3;
    animation: glowing 1.5s infinite alternate;
}
.glowing-effectConst{
    color: #3DD5F3;
    animation: glowing 1.5s infinite alternate;
}
.glowing-effectConst:hover{
    color: #3DD5F3;
    animation: glowing 1.5s infinite alternate;
}


/* creating a glowing effect with a color that matches the <nav> elements' color when they are hovered over */

@keyframes glowing-nav {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #BB86FC, 0 0 20px #BB86FC, 0 0 25px #BB86FC, 0 0 30px #BB86FC, 0 0 35px #BB86FC;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #BB86FC, 0 0 30px #BB86FC, 0 0 40px #BB86FC, 0 0 50px #BB86FC, 0 0 60px #BB86FC, 0 0 70px #BB86FC;
    }
}




/* combinations of transition effects and animations applied to specific elements for styling */



address span:hover,
th:hover,
td:hover{
    animation: pulse 2.1s infinite;
    transition: all 2.1s ease;
}


a {
    color: #2C89CB;
    transition: color 1.0s ease;
}

a:hover {
    color: #BB86FC;
    animation: pulse 2.1s infinite;
    transition: color 1.0s ease;
}


button, input[type="submit"] {
    background-color: #22D3EE;
    border: none;
    border-radius: 30px;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 2.1s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #3D1E62B2;
    color: #CBD5E1;
    font-weight: bold;
    animation: pulse 2.1s infinite;
    transition: all 2.1s ease;
}

select[id="contactType"] {
    background-color: #22D3EE;
    border: none;
    border-radius: 30px;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 30px;
    transition: all 2.1s ease;
}

select[id="contactType"]:hover {
    background-color: #3D1E62B2;
    border: #CBD5E1;
    border-radius: 30px;
    color: #CBD5E1;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 30px;
    transition: all 2.1s ease;
}


.group2 {
    background-color: #333333;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    font-weight: 800;
    padding: 30px;
    text-align: center;
    transition: all 2.1s ease;
}

.group2:hover {
    background-color: #030307;
    color: #3DD5F3;
    font-family: Cairo, sans-serif;
    font-weight: 950;
    font-size: 40px;
    animation: pulse 2.1s infinite;
    transition: all 2.1s ease;
}


.noMarginTitle{
    margin: 0;
    background-color: #333333;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 16px;
    text-align: center;
    transition: all 2.1s ease;
}

.noMarginTitle:hover{
    background-color: #030307;
    color: #3DD5F3;
    font-family: Cairo, sans-serif;
    font-weight: 950;
    font-size: 40px;
    animation: pulse 2.1s infinite;
    transition: all 2.1s ease;
}

.pulse-effect.glowing-effectConst{
    animation: glowing 1.0s infinite alternate;
}

.pulse-effect.glowing-effectConst:hover{
    animation: pulse 0.2s infinite, glowing 1.0s infinite alternate;
}




/* hamburger icon related modifications */


/* header adjustments */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}


.navbar {
    position: relative;
}



.hamburger {
    cursor: pointer;
    font-size: 25px;
    padding: 3px;
    z-index: 1000;
    color: #3DD5F3;
    animation: glowing 1.5s infinite alternate; /* the default effect for the hamburger icon */
}


/* glowing effect for the hamburger icon when nav elements are hidden */

.hamburger-glowing {
    animation: glowing 1.5s infinite alternate;
}


/* pulsing effect for the hamburger icon when nav elements are visible */

.hamburger-pulsing {
    animation: pulse 0.375s  infinite;
}



nav {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translateX(-50%) translateY(-169%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 999;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 49.525ms ease;
}


/* hovering over the hamburger icon reveals nav menu */

.hamburger:hover ~ nav,
.navbar:hover nav {
    left: 50%;
    top: -50%;
    transform: translateX(-50%) translateY(20%);
    opacity: 1;
    visibility: visible;
    transition: all 49.525ms ease;
}


nav > * {
    padding: 16px 40px;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 49.525ms ease;
}


/* hovering over the hamburger icon, or navbar when it's visible reveals nav elements */

.hamburger:hover ~ nav > *,
.navbar:hover nav > * {
    opacity: 1;
    visibility: visible;
}



/* delayed appearances for each nav element */

.hamburger:hover ~ nav > *:nth-child(1),
.navbar:hover  nav >*:nth-child(1) {
    transition-delay: 0.6s;
}
.hamburger:hover ~ nav > *:nth-child(2),
.navbar:hover  nav >*:nth-child(2) {
    transition-delay: 0.9s;
}
.hamburger:hover ~ nav > *:nth-child(3),
.navbar:hover  nav >*:nth-child(3) {
    transition-delay: 1.2s;
}
.hamburger:hover ~ nav > *:nth-child(4) ,
.navbar:hover  nav >*:nth-child(4){
    transition-delay: 1.5s;
}
.hamburger:hover ~ nav > *:nth-child(5) ,
.navbar:hover  nav >*:nth-child(5){
    transition-delay: 1.8s;
}



/* glowing effect for nav elements on hover */

nav a:hover {
    animation: glowing-nav 1.5s infinite alternate;
}

nav > *:not(span){
    animation: pulse 2.1s infinite; /* pulsing effect as a default effect only for <a> elements */
}



/* to make sure that the main section moves down when the nav elements are visible */

main {
    transition: padding-top 0.6s ease;
}

.hamburger:hover ~ main,
.navbar:hover ~ main {
    padding-top: 160px;
}







/* CSS3-Exercise_04 */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #030307;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 80px;
    height: 80px;
    border: 8px solid #CCCCCC;
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes spin {
    to {
        transform: rotate(240deg);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.loader-wrapper {
    animation: fadeOut 1s ease-out 2s forwards;
}











/* CSS4-Exercise_01 */





.creations-section {
    float: right;
    width: 50%;
    background-color: #030307;
    color: #FFFFFF;
    font-family: Tajawal, sans-serif;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.creations-section h2,
.creations-section h3,
.creations-section h4 {
    color: #3DD5F3;
    text-shadow: 2px 2px 4px rgba(61, 213, 243, 0.5);
}

.creations-section p {
    font-size: 18px;
    line-height: 1.6;
}

.creations-section a:hover {
    color: #BB86FC;
    animation: glow 1.5s infinite alternate;
}

.creations-section h2:hover,
.creations-section h3:hover,
.creations-section h4:hover {
    animation: pulse 2.0s infinite;
}

.creations-section h2{
    margin-top: 150px;
}

.creations-section h4 {
    margin-top: 100px;
    color: #3DD5F3;
    text-align: right;
    font-family: Cairo, sans-serif;
    text-shadow: 2px 2px 4px rgba(61, 213, 243, 0.5);
}

.creations-section h5 {
    margin-top: 50px;
    margin-bottom: 0;
    color: #525151;
    text-shadow: 2px 2px 4px rgba(61, 213, 243, 0.5);
}

.clear {
    clear: both;
}





.image-container {
    position: relative;
    display: block;
}

.responsive-image {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.image-container::after {
    content: 'FBK';
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1em;
    color: white;
    opacity: 1;
    z-index: 10;
    pointer-events: none;
}






.titleVSdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}

.section-title {

}

.section-date {
    margin-right: auto;
    font-family: Tajawal, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 620;
    color: #F8FAFC;
}


.creations-section .titleVSdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creations-section .titleVSdate .section-date {
    font-family: Tajawal, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #FFFFFF;
    margin-right: auto;
    margin-top: auto;
    transform: translateY(-160%) ;
}
